<div class="comments row">
  <%= bootstrap_form_for [group, group_post, Comment.new], remote: true,  html: {class: 'comment-form'} do |f| %>
  <div class="commenting">
    <div class="input-append pull-left col-md-8">
      <%= f.text_area :description, hide_label: true, size: "",required: true, placeholder: "Add a comment here" %>
    </div>
    <div class="comment-button pull-left">
      <%= f.submit "Comment", class: "comment_button btn btn-success"%>
    </div>
  </div>
  <%end%>
</div>
