<div class="container">

  <div class="row">
  </div>
  <div ng-controller="UserPostController">
  <span ng-init='currentUser = "<%= current_user.id %>" '></span>
    <div ng-repeat="post in user_posts">
      <p>{{ post.description}}</p>
      <p>{{ currentUser.first_name }}</p>
    </div>
    <div ng-repeat="user in all_users ">
    <p> {{user.first_name}} - {{user.last_name}}</p>
  </div>
  </div>

</div>
<div>
  <div class="posts-wrapper">

  </div>
</div>
