<%= link_to(group_group_member_path(group, GroupMember.where(user_id: current_user, group_id: group).first.id), remote:true,  method: :delete) do %>
  <span class="btn btn-success">Joined</span>
<%end%>
