<div class="container">
  <div class=" new-meetup panel panel-default">
    <h2 class="panel-heading">New study meetup</h2>
      <%= render 'form' %>
      <div class="actions-links">
        <%= link_to 'View all Meetups', meetups_path %>
      </div>
  </div>
</div>




