<span id="upvote-btn-<%=post.id%>">
  <%=link_to(meetup_meetup_post_meetup_post_votes_path(meetup,post.id, MeetupPostVote.new),remote: true, method: :post) do %>
    <i class="glyphicon glyphicon-thumbs-up"></i>
  <%end%>
</span>
