<div class="container-fluid">
  <div class="row" style="background:maroon;height:200px; color:#fff;">
      <div class="container">
        <h1 class="headline"><%= @group.name %></h1>
      </div>
    </div>
</div>
<div class="container">

</div>
