<div class="row user-content">
  <section class="col-md-12 text-center user-post-section">
    <div id="my-courses" class="col-md-5 item text-center">
      <h3>My Courses</h3>
    </div>
    <div id="my-favorites" class="col-md-3 item text-center">
      <h1>New</h1>
    </div>
    <div id="my-organizations" class="col-md-3 item text-center">
      <h3>Suggested</h1>
    </div>
  </section>
  <section class="col-md-12 user-post-section">
    <div id="my-discussions" class="col-md-3 item text-center">
      <h3>My organizations</h1>
    </div>
    <div id="my-discussions" class="col-md-8 item text-center">
      <h1>suggested</h1>
      <h3 class="content"></h3>
    </div>

  </section>
  <section class="col-md-12 user-post-section">
    <div id="suggested-users" class="col-md-11 item  text-center">
      <h1>suggested Users</h1>
    </div>
  </section>
</div>
