

<div class="container" style="">
  <div class="row">
    <div class="user-section-wrapper">
      <div class="col-md-3  avatar">

        <div class="text-center" ><%= image_tag @user.avatar.url(:thumb), :class => "img-circle"%></div>
        <h3 class="text-center user-name"><%= @user.full_name %></h3>
      </div>

      <div class="col-md-4 ">

        <p><%= @user.industry.name if @user.industry%></p>
        <p>
          Boston, MA, United States
        </p>
      </div>


     <div class="col-md-4 ">
       <div class="list-group stats-card">
          <a href="/followers" class="list-group-item stat">
            <span class="glyphicon glyphicon-heart"></span> followers <span class="badge">25</span>
          </a>
          <a href="/following" class="list-group-item stat">
            <span class="fa fa-users"></span> following <span class="badge">145</span>
          </a>
          <a href="#" class="list-group-item stat">
            <span class="glyphicon glyphicon-file"></span> posts <span class="badge">50</span>
          </a>
        </div>
      </div>
  </div>
 </div>
 <hr>
 <div class="row content-sec">
   <div class="col-md-7 content-wrapper">
     <div class='row'>
       <label for="">MY STORY</label>
       <p>
         Gained fame as a cast member on the reality series Love And Hip Hop: New York. She is a social media star with more than 3.5 million Instagram followers on her main iamcardib account. She is also a comedian, host, actress and video vixen.
       </p>
     </div>

     <div class='row'>
       <label for="">COURSES</label>
       <p>
         Gained fame as a cast member on the reality series Love And Hip Hop: New York. She is a social media star with more than 3.5 million Instagram followers on her main iamcardib account. She is also a comedian, host, actress and video vixen.
       </p>
     </div>

     <div class='row'>
       <label for="schools">SCHOOLS</label>
       <p>
         Gained fame as a cast member on the reality series Love And Hip Hop: New York. She is a social media star with more than 3.5 million Instagram followers on her main iamcardib account. She is also a comedian, host, actress and video vixen.
       </p>
     </div>

     <div class='row'>
       <label for="">PROFFESSIONAL EXPERIENCE</label>
       <p>
         Gained fame as a cast member on the reality series Love And Hip Hop: New York. She is a social media star with more than 3.5 million Instagram followers on her main iamcardib account. She is also a comedian, host, actress and video vixen.
       </p>
     </div>

     <hr>
     <div class='row'>
       <label for="">CONTACT INFO</label>
       <p>

       </p>
     </div>

   </div>



 </div>
    <hr>
</div>
