<div class="list-group">
<a href="#" class="list-group-item active text-center">
    <h4 class="fa fa-book"></h4><br/>Activity Feed
  </a>
  <a href="#" class="list-group-item text-center">
    <h4 class="fa fa-book"></h4><br/>My Posts
  </a>
  <!-- <a href="#" class="list-group-item text-center">
    <h4  class="fa fa-users"></h4><br/>Teams
  </a>
  <a href="#" class="list-group-item text-center">
    <h4 class="fa fa-university"></h4><br/>organizations
  </a>
  <a href="#" class="list-group-item text-center">
    <h4 class="fa fa-star"></h4><br/>Favorites
  </a>
  <a href="#" class="list-group-item text-center">
    <h4 class="glyphicon glyphicon-credit-card"></h4><br/>About
  </a> -->
</div>
