<aside class="col-md-3 aside-user-menu">
  <div class="list-group">
    <a href="#" class="list-group-item">
      Organizations <span class="badge">25</span>
    </a>
    <a href="#" class="list-group-item">
       Courses  <span class="badge">145</span>
    </a>
    <a href="#" class="list-group-item">
        Discussions <span class="badge">50</span>
    </a>
  </div>
</aside>
