<div class="container">
  <div class="row profile-footer">
    <div class="user-stats col-sm-6">
      <div class="col-md-3 col-sm-3 stat" onclick="$('#group-members-id-<% @group.id %>').toggle();">
        <%=link_to @group.group_members.count, group_group_members_path(@group) %>
        <div>Members</div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 stat">
        <%= link_to @group.group_posts.count, group_group_posts_path(@group) %>
        <div>Posts</div>
      </div>

    </div>
    <div class="user-action-icons col-lg-6">
      <a class="icon circle col-md-3 col-sm-4"  href="/users/edit"><span class="glyphicon glyphicon-search gi-3x"></span></a>
        <a class=" icon circle col-md-3 col-sm-4" onclick='$("#explore").toggle();'><span class="glyphicon glyphicon-plus gi-3x"></span></a>
      <a class="icon circle col-md-3 col-sm-4" ><span class="glyphicon glyphicon-chevron-down gi-3x"></span></a>
      <a href="" onclick='$("#explore").toggle();'>New Post</a>
    </div>
  </div>
</div>
