<div class ="container">
  <h1> All Users</h1>
  <hr>

  <% @users.each do |user| %>
    <div class="row col-md-3">
      <div class"user-avatar col-md-4"><%= image_tag user.avatar.url(:thumb), :class => "img-circle"%></div>
      <ul class="col-md-3">
        <li><%= user.email %></li>
        <%= link_to 'view', user, class: "btn btn-primary btn-lg" %>
      </ul>
    </div>
  <% end %>
</div>

