
<div class="container">
  <% @user ||= current_user %>
  <div class="row user-info-section">
    <section class="col-md-8 left-user-info text-center">
      <div class="main-profile">
        <h3 class="user-name"><%= current_user.full_name %></p>
        <div class"user-avatar col-md-4"><%= image_tag current_user.avatar.url(:thumb), :class => "img-circle"%>
        </div>
      </div>

      <div class="row profile-footer">
        <div class="user-stats col-sm-6">
          <div class="col-sm-4 stat">
            <a href="">0</a>
            <div>Posts</div>
          </div>
          <div class="col-sm-4 stat">
            <a href="">0</a>
            <div>Followers</div>
          </div>
          <div class="col-sm-4 stat">
            <a href="">0</a>
            <div>Following</div>
          </div>
        </div>
        <div class="user-action-icons col-sm-6">
          <a class="icon circle" href="/users/edit"><span class="glyphicon glyphicon-edit gi-3x"></span></a>
          <a class=" icon circle" href="/user_posts/new"><span class="glyphicon glyphicon-plus gi-3x"></span></a>
          <a class=" icon circle" href="/edit"><span class="glyphicon glyphicon-chevron-down gi-3x"></span></a>
        </div>
      </div>
    </section>

    <%= render partial: 'users/user_stats'%>
  </div>
  <hr>

  <div class="row">
    <section class="col-md-8 user-post-section">
      <%= render partial: "user_posts/post", locals: { collection: @user_posts }%>
    </section>

    <aside>
      <div class="col-md-3 user-suggestion">
        <h3 class="aside-header">Suggested Users</h3>
      </div>
    </aside>
  </div>
</div>
