<div class="profile-wrapper">
  <div class="">
    <% @user ||= current_user %>
    <span ng-init="currentUser = <%= @user.id %>"></span>
    <div class="row user-info-section">
      <div class="user-info row">
        <div class="main-profile text-center col-md-8">
          <h3 class="user-name"><%= @user.full_name %></p></h3>
          <div class" col-md-3 col-sm-6 col-xs-12"><%= image_tag @user.avatar.url(:thumb), :class => "img-circle"%>
          </div>
          <p>Boston, MA</p>
        </div>
        <div class="col-md-4 user-stat-1 container-fluid">
          <div class="row">
            <div class="col-md-6 item">
              <div class="content col-md-12 container-fluid">
                <div class="row">
                  <p>123</p>
                </div>
                <div class="row">
                  <h1>credits</h1>
                </div>
              </div>
            </div>
            <div class="col-md-6 item">
              <div class="content col-md-12">
                <div class="row">
                  <p>12</p>
                </div>
                <div class="row">
                  <h1>Courses</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 special-item">
              <div class="content2 col-md-12">
                <div class="row">
                  <p>300</p>
                </div>
                <div class="row">
                  <h1>Contributions</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="education-info-section col-md-8">
        <div class="current-courses item col-md-12">
          <div ng-controller="CurrentCourseController">
            <div class="col-md-6" ng-repeat="course in currentCourses">
              <li>{{course.name}}</li>
            </div>
            <div id="new-current-course" class="col-md-6">
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Add a course </button>

              <%= render partial: 'current_courses/new'%>
            </div>
          </div>
        </div>
        <div class="previous-courses item col-md-12" id="basicModal">
          <h4>Previous Courses</h4>
        </div>
        <div class="education-history item col-md-12">
          <h3>Education</h3>
          <p>Degree/certificates</p>
          <p>key courses</p>
        </div>
        <div class="favorite-resourses item col-md-12">
          <h3>Learning Resources</h3>
          <ul>
          <li>kdfklsjflsjflkjs</li>
          </ul>
        </div>
      </div>
    </div>


  </div>
</div>
