
.reg-form {
  padding-top:20px;
  border:2px solid #efefef;
  border-radius: 5px;
  background-color:#5C985F;
  background-color: rgba(92, 152, 95, 0.24);
  margin-top:50px;

  h4 {
    border-bottom: 1px solid #efefef;
    color:green;
    padding-bottom:30px;
    margin-bottom:20px;
  }

  .form-group {
    text-align: center;
    padding-left:15px;
  }

  .form-horizontal {
    margin-left: 5px;
  }

  .form-control {
    width:360px;
  }

  .form-group {
    .name {
      width:180px;
    }
  }

  .control-label {
    padding-right:8px;
  }

  #user_industry_id {
    width:360px;
    padding-left:10px;
  }

  .btn-signup {
    height:60px;
    font-size:16pt;
  }

  .fb-btn {
    height:60px;
    font-size:16pt;
    padding-top:10px;
    .fa-facebook-square{font-size: 25px; padding-right:5px;}
  }



  .separator {margin-left: 20%;}
}




