
.reg-form {
  padding-top:20px;
  border:1px solid #efefef;

  h4 {
    border-bottom: 1px solid #efefef;
    color:green;
    padding-bottom:20px;
    margin-bottom:20px;
  }
}

.container .sign-in-form {
  border:1px solid green;
}




