.home {
  line-height: 2.0em;
}
.home-content-one {
  /* Location of the image */
  background-image: url("macbook-air-all-faded-and-stuff.jpg");
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  min-height:500px;
  background-position: right;
  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  background-size: cover;

  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(journey2.jpg);
  }
}
.home-content-one h1 {
  font-family: Raleway, sans-serif;
  letter-spacing: -1px;
  line-height: 46px;
  font-size: 50px;
  font-weight: 400px;
  color: #fff;
  margin-top:0px;
  padding:20px;
}

.home-content-one .content {
  margin:100px;

  h4 {
    font-size:12pt;
    font-weight: 200px;
    color: #f9fafc;
  }
}

.home {
  min-height:500px;
  margin-top:0px;
  padding:20px;

}
.home-content-three {
  background-color:#fff;
  padding-top:40px;
  .courses-back {
    text-align: right;
    border-radius:5px;
    min-height: 400px;
    background-image: url("bridge.jpeg");
    /* Image is centered vertically and horizontally at all times */
    background-position: center center;
    background-repeat: no-repeat;
    /* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
    background-size:cover;
    background-color:#464646;

    h3 {
      margin-top:100px;
      color:#777777;
    }

    h1 {
      height: 100px;
      min-width:400px;
      background-color:#fff;
      color:green;
      border-radius:5px;
      margin-top:20px;
      padding-top:20px;
    }
  }
  .content {
    margin:100px 0px 100px 0px;
    line-height: 3.0em;
    font-family: Fredoka One;
  }
  .home-headline {
    font-size: 30px;
    line-height: 1.0;
    font-family:Play;
    color:#777777;
    padding:20px;
    margin-top:50px;
  }

}
.home-content-two {
  color:#464646;
  .cat {
    margin-top: 20px;
    border-radius:5px;
    padding:20px;
  }

  .cat:hover {
    background-color:#2dbe60;
    color:#fff;
  }

  p {
    padding:5px;
    margin:10px;
  }
}

.home-content-four {
  background:#fff;
  background-image: url("profile_photo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  min-height:500px;
  background-color:#464646;

  .content {
    margin:100px 0px 100px 0px;
    line-height: 3.0em;
    font-family: Fredoka One;
  }
}





