//palettes options
//option 1 #585858 #118C4E#C1E1A6 #FF9009

body {
  //background-color:#EBEBEB;
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

footer {
  height:100%;
  margin:10px;
  padding:30px;

  .footer-content {
    margin-top:20px;
    padding:10px;
  }
}

ul li, a {
  text-decoration: none;
  list-style-type: none;
}

.pull-right {text-align: right}
.pull-left {text-align: left}

a {
  background: transparent;
  text-decoration: none;
}

a:visited {
  color: none;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.btn-primary, .btn-default, .btn-success {
  min-height: 40px;
  min-width: 100px;
}
span {text-decoration: none;text-overflow: hidden;}

.wrapper {background:#e6e9ec;}
