body {
  background-color: #E6E7E8;
  margin-bottom: 100px;
}

section, aside {
  background-color: #fff;
  border-radius:10px;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}
