
.new-group-form {
  margin:20px;
}

.new-group {
  margin-top:30px;
  .actions-links {
    padding:10px;
    margin-left:10px;
  }
}

.all-study-groups {
  margin-top: 15px;
  .group-card {
    border-radius: 3px;
    margin: 5px ;
  }
}
.study-groups-section {
  padding-left:15px;
}

.group-card {
  min-height: 200px;
  min-width: 298px;
  //padding:10px;
  //border:1px solid red;

  .card-top {
    position:relative;
    width:100%;
    background:#585858;
    background-position: cover;
    color:#FFF;
    min-height:200px;
    margin-right: 0px;

    .hero-headline {
      font-weight: 200px;
      width:50%;
      padding:0px;
      text-align: center;
      height: 50%;
      margin: auto;
      position: absolute;
      top: 0; left:0; bottom:0; right:0;
    }
    .btn-primary {
      background-color: #fff;
      border-color: #2e6da4;
    }

  }

  .card-bottom {
    width:100%;
    height: 100px;
    background-color: #E5E4D7;
    background-position: cover;
    padding-bottom:5px;

    .actions {
      padding-top:5px;
    }
  }
}

.study-group-header {
  min-height:400px;
  background-position: cover;
  padding:0px;
  margin-top: 20px;

  h1{
    font-family: Raleway, sans-serif;
    letter-spacing: -1px;
    line-height: 46px;
    font-size: 50px;
    font-weight: 400px;
    color: #fff;
    top: 100px;
    padding-top: 20px;
  }

  .group-banner-wrapper {
     position:relative;
     min-height:270px;
  }

  .group-banner {
    background:green;
    min-height: 300px;
    margin-top:-20px;

    .group-actions {
      background-color: #dddddd;
      position:absolute;
      bottom:0;
      left:0;
      width:100%;
      min-height:60px;
      padding-left:-15px;
      .col-sm-6 { padding-left:-20px;}
    }

  }
  .group-stats {
    background-color: #393d41;
    color:#fff;
    min-height:280px;

    h3 {
      padding-top:40px;
      padding-left:50px;
      text-align:left;
    }
  }

  .group-actions {
    margin-left:0px;
    padding-left:20px;
    background: #DDE8E8;
  }
  .group-headline {
    margin-left:20px;
    margin-top:0px;
    padding:60px 0px 0px;
    text-align:center;
  }
}

.group-content {
  margin-top:5px;
  .content-section {
    //border:1px solid black;
    padding:20px;
    background-color: #fff;
    min-height: 300px;
    border-radius:5px;

  }
  .sider-bar, .col-md-4 {
    //border:1px solid black;
    padding-left:0px;
  }
  .side-bar {
    text-align: center;
    padding-left:0px;
    .side-bar-content {
      margin-right:5px;
      text-align: center;
      border-radius:5px;
      padding-top:10px;
      min-height:400px;
    }
  }
}

.group-members {
  margin:0px 5px 0px 5px;
  background-color: #e6e9ec;
  border:3px solid #ddd;

  .glyphicon {width:60px;}
}
