$maingreen:#2dbe60;

.navbar-default {
  background-color: #fff ;
  border:none;
  border-bottom:1px solid #e9f0f3;
  margin-bottom:40px;
  position:fixed;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;

}
.navbar-default .navbar-nav > li > a {
  color: #777777;
  font-size:12pt;
  font-weight: 400px;
  text-align: center;
  margin: 10px 5px 10px 5px;

  .btn-success {
    color:#fff;
  }

  .btn {
    margin:10px;
  }
}
.navbar-default .navbar-brand {
  color: $maingreen;
  margin:10px;
  &:hover {
    color:$maingreen;
  }
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color:$maingreen;
}

.navbar-default .navbar-nav {
  margin-bottom:0px;
  .btn-success{
    background-color: #fff;
    color:$maingreen;
  }
  .btn {
    margin: 10px 0px 10px 10px;
  }
}

.navbar-toggle .collapsed {
  margin: 10px;
}



