$maingreen:#2dbe60;
.navbar-default .navbar-nav > li > a {
  color: #777777;
  font-size:12pt;
  font-weight: 400px;
  text-align: center;

  .btn-success {
    color:#fff;
  }

  .btn {
    margin:10px;
  }
}
.navbar-default .navbar-brand {
  color: $maingreen;
  &:hover {
    color:$maingreen;
  }
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $maingreen;
  border-bottom: 1px solid #777777;
}

.navbar-default .navbar-nav {

  .btn-success{
    margin-left:5px;
    background-color: #fff;
    color:$maingreen;
  }
}
