
.user-info-section {
  min-height:400px;
  margin-top:50px;
}

.user-stat-1 {
  background-color: #fff;
  min-height:400px;

  .item {
    text-align:center;
    height:200px;
    border:none;
    padding-top:60px;

    &:hover {
      //background-color:green;
    }
  }

  #following {
    background-color:#67b7cf;
    color: #fff;

    .numbers{
      font-size: 30px;
    }
  }

  #followers {
    background-color: #2dbe60;
    color:#fff;

    .numbers {
      font-size: 30px;
    }

    .text {

    }
  }

  .special-item {
    padding-top:60px;
    text-align:center;
    background-color:#777777;
    min-height:200px;
    padding-left:15px;
    color:#2dbe60;

    .numbers {
      font-size: 40px;
      color:#fff;
    }
  }

  .text {
    text-transform: uppercase;
    color:#fff;
    font-size: 16pt;
    padding-top:15px;
  }
}

.user-info {
  .main-profile {
    min-height:400px;
    background-image: url("dusty-sky.JPG");
    /* Image is centered vertically and horizontally at all times */
    background-position: center center;
    background-repeat: no-repeat;
    /* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
    background-size:cover;
    background-color:#464646;
    padding-top:40px;


    p {
      color:#fff;
      font-size: 30px;
    }

    a {
      color:#fff;
    }
  }

  .profile-footer {
    background: #f9fafc;
    height:20%;
    width:100%;
    border-radius: 0 0 3px 3px;
  }

  .user-stats {
    height:100%;
  }

  .user-stats:hover {
    color:#2dbe60;
  }

  .user-stats .stat, a {
    height:100%;
    color:#606060;
    margin-top: 15px;
  }
}

.user-action-icons .icon {
  margin-top: 5px;
  padding: 5px;
  height:63px;
  width:63px;
  background:#fff;
  text-align: center;
  border:1px solid #2dbe60;
  color:#2dbe60;
}

.user-action-icons .icon:hover {
  background-color: #2dbe60;
  color:#fff;
}

.circle {
   border-radius: 50%;
   display: inline-block;
   margin: 0px 20px 0px 20px;
   padding:10px;

 }
/*   user content  section*/
.user-stuff-section {
  margin-top:40px;

  .left-aside{
    min-height: 200px;
    padding-right:10px;
    border-top:0px;
    margin-top:5px;
  }
  .right-aside {
    min-height: 500px;
    margin-top: 5px;

    .suggestions{
      background-color: #fff;
      height:400px;
      padding:11px;

      p{ padding:5px;}
    }

  }

  .content-wrapper {
    min-height: 800px;
    background-color: #fff;
    padding:11px;
    border-top:none;
    margin-top:5px;
  }
}

.aside-user-menu{
  height:auto;
  padding:0px;
  margin-left:30px;
  color:#606060;
  background-color: #E6E7E8;

  a.list-group-item {
    height:80px;
    padding:30px 10px 20px 10px;
    background-color: #E6E7E8;
    border:none;
    text-transform:lowercase;
    margin:0px;
    font-size:16pt;
  }
  a.list-group-item:hover {
    background-color: #2dbe60;
    color:#fff;
    border-radius:10px;
    text-transform: uppercase;
    font-size: small;
  }
}

.user-name {
  color:#2dbe60 !important;
}

.user-post-section {
  margin-right: 30px;
}

.user-suggestion{
  height: auto;
  padding:0px;
  margin-left:30px;
  background-color: #67B5D2;
  color:#fff;
  border:1px solid black;
}

.course-suggestion {
  display: block;
  height:auto;
  padding:0px;
  margin-left:30px;
  position: absolute;
  background-color: #52c286;
  margin-top:40px;
}

aside h3 {
  margin:0px;
  padding:10px;
  color:#fff;
  border-bottom: 1px solid #fff;
  text-align:center;
  font-size: small;
  text-transform: uppercase;
}
.user-content {
  .item {
    height:300px;
    border:1px solid #f9fafc;
    border-radius:5px;
    background-color: #fff;
    margin-left:5px;
  }
  /* Explore page */

  #my-courses {
    background-color: #52C286;
  }
  #my-organizations {
    background-color: #1e3547;
    color:#fff;
  }

  #my-discussions {
    background-color:#a4b36b;
  }

  #my-favorites {
    background-color:#67B7CF;
  }

  #suggested-users {
    background-color: #f28167;
  }

  #suggested-courses {
    background-color: #fff;
  }
}

/* edcation information section */

.education-info-section {
  .item{
    margin-top:10px;
    min-height:300px;
    border:1px solid #fff;
    border-radius:5px;
    background-color:#f9fafc;
    margin-left:5px;
  }
}

.user-profile-info {
  background-color:#fff;
  border:1px solid #dddddd;
  padding:10px;
  margin:5px;
  .tabpanel {margin-top:5px;}

  .form-control {
    max-width:100%;
  }

  .info-wrapper {
    border:1px solid #dddddd;
  }

  .current-course {
    //border:1px solid #dddfff;
    padding:10px;
  }

  .item-heading {
    border:1px solid black;
  }
}

.user-suggestions {
  margin-left:30px;
}










