
.user-post-section {
  padding:10px 0px 10px 0px;
  .post-wrapper {
    border:2px solid #ddd;
    margin:10px 0px 10px 0px;
    padding:10px;
    border-radius: 5px;
  }

  .post-header {
    border-bottom:1px solid #fff;
    margin-bottom:10px;
    padding:10px;
  }


}
.posts-area {
  .row {
    margin-right: 0px;
    margin-left:0px;
  }
  .panel-default > .panel-heading {
    color: #C3BFBF;
    background-color:whitesmoke;
    border-color: #dddddd;
  }

  .post-actions {
    margin-top:5px;
    span {
      padding:4px;
    }
  }

  textarea.form-control {
    min-height:200px;
  }

  .user-name {
    a{
      font-weight: 400px;
      font-size: 16px;
      line-height: 14px;
      margin-bottom: 2px;
      color: #333;
    }

  }
}

.post-comments {
  padding-left:0px;
  padding-top:0px;
  border:1px solid;
  margin-top:10px;
  width:100%;
  background-color:#fff;
  border-color: #dddddd;
  color: #333333;

  textarea.form-control {
    min-height:100px;
  }
}

.comments-details{

  .comment-actions a {
    color:#dddddd;
    text-decoration: none;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .time{
    margin-left:-4px;
  }
  .acomment {
    /*border:1px solid #dddddd;
    border-radius:5px;
    margin-right:10px;
    padding:5px;
    margin-bottom:5px;*/
  }
}

.list-inline {
  background:#fff;
  border-color:#dddddd;
  min-height:auto;
  padding:5px;

  li, a {
    color:#333333;
    line-height: 2.0em;
    list-style-type: none;
    text-decoration: none;
  }

  .glyphicon, .fa{
    color:green;
    margin:2px;
    border:1px solid #dddddd;
    padding:4px;
    border-radius:5px;

    &:hover {
      background:green;
      color:#fff;
    }
  }
}

.description {
  padding:10px;
  border-radius:5px;
  margin-left:10px;
}
.commenter-image {
  width:50px;
  padding:5px;
  margin-left:0px;
  border:1px solid #dddddd;
}
hr {margin-left:-20px;}


















