
.user-post-section {
  padding:10px 0px 10px 0px;

  .post-wrapper {
    border:2px solid #ddd;
    margin:10px 0px 10px 0px;
    padding:10px;
    border-radius: 5px;
  }

  .post-header {
    border-bottom:1px solid #E6E7E8;
    margin-bottom:10px;
    padding:10px;
  }

  .post-comments {
    margin-top:10px;
    width:100%;
    padding:10px;
    background-color:#f5f5f5;
  }
}
