
.user-post-section {
  padding:10px 0px 10px 0px;
  .post-wrapper {
    border:2px solid #ddd;
    margin:10px 0px 10px 0px;
    padding:10px;
    border-radius: 5px;
  }

  .post-header {
    border-bottom:1px solid #fff;
    margin-bottom:10px;
    padding:10px;
  }

  .post-comments {
    margin-top:10px;
    width:100%;
    background-color:#fff;
  }

}
.posts-area {
  .row {
    margin-right: 0px;
    margin-left:0px;
  }
  .panel-default > .panel-heading {
    color: #333333;
    background-color:whitesmoke;
    border-color: #dddddd;
  }

  .post-actions {
    margin-top:5px;
    span {
      padding:4px;
    }
  }
}

.post-comments {
  padding-left:0px;
  padding-top:0px;
  border:1px solid;
  border-color: #dddddd;
  color: #333333;
  border-color: #dddddd;

}

.comments-details{
  .row {
    margin-right: 0px;
    margin-left: -15px;
  }
  .time{
    margin-left:-4px;
  }
}

.list-inline {
  background:whitesmoke;
  border-color:#dddddd;
  height:30px;
  padding:5px;
}

.description {
  padding:10px;
  border-radius:5px;
  margin-left:10px;
}
.commenter-image {
  width:50px;
  padding:5px;
  margin-left:0px;
  border:1px solid #dddddd;
}
hr {margin-left:-20px;}


















